@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url(/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: font2;
  src: url(/fonts/Lausanne-500.woff2);
}

.moveX {
  animation: moveAnimation 10s linear infinite;
}

.moveLink {
  opacity: 0;
  transition: all 0.3s ease;
  color: black;
}

.link:hover .moveLink{
  opacity: 1;
}

.navBox:hover .navLine {
  background-color: black;
}

@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}